legacy-peer-deps=true
shamefully-hoist=true 
public-hoist-pattern[]=@prisma/*
public-hoist-pattern[]=.prisma/*
# added this to fix sentry warning 
# https://docs.sentry.io/platforms/javascript/troubleshooting/#pnpm-resolving-import-in-the-middle-external-package-errors